carts.json
products.json

package-lock.json
pruebas.js

node_modules
src/appPrueba.js

src/.env.development
src/.env.production
errors.log
errors-prod.log
errors-dev.log
package.json
src/.env.production
package.json

public/img