<div>
    <h1>Chat del e-commerce</h1>
    <br>
    <br>
    <form action="/api/chats" method="post">
        <label for="">Usuario: </label><input type="text" name="user"><br><br>
        <label for="">Mensaje: </label><input type="text" name="message"><br><br><br>
        <button type="submit">Enviar Mensaje</button>
    </form>
</div>
