<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO DE SESION</title>
    <script>
        // Define the API URL based on the environment
        const API_URL = window.location.hostname === 'localhost'
            ? 'http://localhost:8080'
            : 'https://entregafinal-clase46-production.up.railway.app';
    </script>
    
</head>

<h1>INICIO DE SESION</h1>

<form action="/api/session/login" method="post">
    <label for="">Email: </label> <input type="email" name="email" id="emailInput"><br><br>
    <label for="">Password: </label><input type="password" name="password" id="passwordInput"><br><br>
    <button type="submit">Iniciar Sesión</button>
    <button type="button"><a href="/api/session/github">Iniciar con GitHub</a></button>
    <button><a href="/register">Registrarse</a></button> <br><br>
    <button type="button" id="restoreBtn">Modificar Password</button>
    <button type="button" id="recuperarBtn">Recuperar Password</button>
</form>

<h5 id="resultMessage"></h5>

<script src="js/login.js"></script>

