<h1>CIERRE DE SESION</h1>

<form action="/api/session/logout" method="post">
    <button type="submit">Confirmar Cierre de Sesión</button>
</form>

<h5 id="resultMessage"></h5>

<script src="js/logout.js"></script>