<h1>Administración de Usuarios</h1>

<form action="/api/session/login" method="post">
    <label for="emailInput">Email: </label> 
    <select name="email" id="emailInput"></select><br><br>
    <label for="">Nombre: </label><input type="text" name="first_name"><br><br>
    <label for="">Apellido: </label><input type="text" name="last_name"><br><br>
    <label for="">Rol: </label><input type="text" name="role"><br><br>
    <button type="submit">Modificar</button>
    <button type="button" id="restoreBtn">Modificar Password</button>
</form>

<h5 id="resultMessage"></h5>

<script src="js/manage_users.js"></script>