<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TU COMPRA</title>
  <link rel="stylesheet" href="/css/cart.css" />
</head>

<body>

  <div id="purchase">
    <h1>TU COMPRA</h1>
    <h2>Hemos confirmado tu compra</h2>

    <p>Estos son los datos para el seguimiento:</p>
    <p>Carrito - id: <span id="cartId">{{cId}}</span></p>
    <p>Ticket - id: <span id="ticketId">{{tId}}</span></p>

    <button><a href="/products">Realizar una nueva compra</a></button>
  </div>

<script src="/js/purchase.js"></script>
</body>

</html>
