<h1>RECUPERACIÓN DE PASSWORD</h1>

<!-- FALTA RESOLVER COMO TOMAR EL ID DEL LINK PARA EL recoverpass/ID en este post -->

<form action="/api/session/recoverpass" method="post">
    <label for="">Nueva Password: </label><input type="password" name="newPassword" id="newPasswordInput"><br><br>
    <button type="submit">Recuperar</button>
</form>

<h5 id="resultMessage"></h5>

<script src="js/login.js"></script>