<h1>RECUPERACIÓN DE PASSWORD</h1>

<form id="recoverForm" method="post">
    <input type="hidden" name="token" id="tokenInput" value="{{token}}">
    <label for="newPasswordInput">Nueva Password: </label>
    <input type="password" name="newPassword" id="newPasswordInput"><br><br>
    <button type="submit">Recuperar</button>
</form>

<h5 id="resultMessage"></h5>

<script src="js/recoverPass.js"></script>
